*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkgray;
    text-align: center;
}

h1{
    font-size: 3rem;
    font-weight: 700;
    color: red;
}

p{
    font-size: 2rem;
    font-weight: 100;
    color: azure;
}