*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
    text-align: center;
}



div{
    height: 100px;
    /* background-color: red; */
    font-size: 1.2rem;
}

input{
    border: none;
    border-radius: 0.2rem;
    background-color: aquamarine;
    font-size: 1.5rem;
}

button{
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 0.5rem;
}
